<body>
<!-- 
ページ最上部に表示するメニュー的なもの.headerにしても良かったけど
-->
<div class="selecter">
    <!-- 漫画ソート用のプルダウンメニュー.':category_id'に選択したカテゴリーのidが格納されてindex再読み込み. -->
    <!-- submitはjsで自動化できるっぽい. -->
    <%= form_tag works_path, method: :get do %>
        <%= select_tag :category_id, options_from_collection_for_select(@category, :id, :name, @selected ), include_blank: false, class: 'selectbox'%>
        <%= submit_tag "Filter" %>
    <% end %>
    <!-- ソートされたカテゴリーの作品投稿数表示 -->
    <div>投稿数: <%= @works.count%></div>
</div>

<!-- 漫画表示部分.ほぼflexboxにおまかせ -->
<div class="wrapper" id="wrapper">
    <% @works.each do |work| %>
        <div class="box">
            <div class="textbox">
                <div class="category"><%= work.category.name %></div>
                <div class="comic_title"><%= work.main_title %></div>
            </div> 
            <%= image_tag(work.image, class: "img") %>
        </div>
    <% end %>
</div>
</body>
</html>