<div>
  <div class="new-link">
    <%= link_to "新規漫画作成", new_work_path(), class: "new-link-text" %>
    <%= link_to "追加漫画作成", "#", class: "new-link-text" %>
    <%= link_to "作成済み漫画一覧", works_path(), class: "new-link-text-d" %>
  </div>
  <div class="new-link">
    <%= link_to "マイプロフィール", "#", class: "new-link-text", id: "my-profile", remote: true %>
    <%= link_to "ブックマーク一覧", book_marks_path(), class: "new-link-text-d" %>
  </div>
  <%# <div id="my-element">csdcdsc</div> %>
  <div>
    <%= render partial: 'shared/my-page', locals: { user: @user } %>
  </div>
  <%#= render partial: 'shared/main-list', locals: { works: @works } %>
</div>