<div class="comic-index-body">
  <div class="comic-main">
    <%= image_tag @work.image, class: "comic-main-image" %>
    <%= content_tag :h1, @work.main_title, class: "comic-main-title" %>
    <%= content_tag :div, @work.user.nickname, class: "comic-nickname" %>
    <%= content_tag :div, @work.explanation, class: "comic-explanation" %>
  </div>
  <% @comics.each_with_index do |comic, i| %>
    <%= link_to work_comic_path(id: comic), class: "comic-part" do %>
      <%= image_tag comic.images[0], class: "comic-image" %>
      <%= "[第" + (i + 1).to_s + "話]" + comic.subtitle %>
    <% end %>

    <% if user_signed_in? %>
      <% unless comic.nices.find_by(user_id: current_user[:id]) %>
        <%= button_to "いいね登録", nices_path(id: comic[:id]), method: :post %>
      <% else %>
        <%= button_to "いいね削除", nice_path(id: comic[:id]), method: :delete %>
      <% end %>
    <% end %>
    
  <% end %>
  <% if user_signed_in? && current_user == @work.user %>
    <%= link_to "新話作成", new_work_comic_path(@work), class: "new-link" %>
  <% end %>
</div>