<div class="form">
  <div class="main-new-form">新巻作成</div>

  <%= form_with(model: [@work, @comic], id: "new_post", local: true) do |form| %>
    <div class="main-form">
      <%= form.label :"サブタイトル (100文字以内で入力)", class: "main-label" %>
      <%= form.text_field :subtitle, class: "main-form-text", id: "main-text" %>
    </div>
    <div classs="main-form">
      <%= form.label :"説明文 (70000文字以内で入力)", class: "main-label" %>
      <%= form.text_area :explanation, class: "main-form-area", id: "main-area" %>
    </div>
    <div class="count", id="title-count">タイトル文字数 : 0字</div>
    <div class="count", id="explanation-count">説明文文字数 : 0字</div>
    <div class="main-form">
      <div class="main-file">
        <%= form.label :"新巻絵(下スクロール)", class: "main-label" %>
        <div class="mb-3">
          <%= label_tag "formFileMultiple", "複数ファイル選択の例", class: "form-label" %>
          <%= form.file_field :images, multiple: true, class: "form-control", id: "formFileMultiple" %>
        </div>
        <div id="comic-previews" style="display: none">
          <div class="comic-show-desktop">
            <div id="carouselExampleControls" class="carousel slide" data-bs-wrap="false">
              <div class="carousel-inner">
                <% if (@comic.images.size().to_f % 2) == 0 %>
                  <% ((@comic.images.size().to_f / 2).round - 1).downto(0) do |index| %>
                    <% if index == 0 %>
                      <div class="carousel-item active">
                        <div class="d-flex justify-content-center bg-dark">
                          <div class="col-6 left-wrapper">
                            <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                          </div>
                          <div class="col-6">
                            <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                          </div>
                        </div>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <div class="d-flex justify-content-center bg-dark">
                          <div class="col-6 left-wrapper">
                            <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                          </div>
                          <div class="col-6">
                            <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% ((@comic.images.size().to_f / 2).round - 1).downto(0) do |index| %>
                    <% if ((@comic.images.size().to_f / 2).round) == 1 %>
                      <div class="carousel-item active">
                        <div class="d-flex justify-content-center bg-dark">
                          <div class="col-6 left-wrapper">
                          </div>
                          <div class="col-6">
                            <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                          </div>
                        </div>
                      </div>
                    <% elsif ((@comic.images.size().to_f / 2).round - 1) == index %>
                      <div class="carousel-item">
                        <div class="d-flex justify-content-center bg-dark">
                          <div class="col-6 left-wrapper">
                          </div>
                          <div class="col-6">
                            <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image"  %>
                          </div>
                        </div>
                      </div>
                    <% elsif index == 0 %>
                      <div class="carousel-item active">
                        <div class="d-flex justify-content-center bg-dark">
                          <div class="col-6 left-wrapper">
                            <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                          </div>
                          <div class="col-6">
                            <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                          </div>
                        </div>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <div class="d-flex justify-content-center bg-dark">
                          <div class="col-6 left-wrapper">
                            <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                          </div>
                          <div class="col-6">
                            <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image"  %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">前へ</span>
              </button>
              <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">次へ</span>
              </button>
            </div>
          </div>
        </div>

        <div class="comic-show-mobile">
          <div id="carouselExampleControls-mobile" class="carousel slide" data-bs-wrap="false">
            <div class="carousel-inner">
              <% (@comic.images.size() - 1).downto(0) do |index| %>
                <% if index == 0 %>
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-center bg-dark">
                      <%= image_tag @comic.images[index], class: "mobile-image", id: "mobile-image" %>
                    </div>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <div class="d-flex justify-content-center bg-dark">
                      <%= image_tag @comic.images[index], class: "mobile-image", id: "mobile-image" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls-mobile" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">前へ</span>
            </button>
            <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls-mobile" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">次へ</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-form">
      <%= form.submit "新規保存", class: "main-submit" %>
    </div>
  <% end %>
</div>