<div class="comic-show-desktop">
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <% if ((@comic.images.size().to_f / 2) % 2) == 0 %>
        <% (@comic.images.size().to_f / 2).round.times do |index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
            <div class="spread-image">
              <%= image_tag @comic.images[index * 2 + 1], class: "d-block w-40 left-image", id: "comic-image"  %>
              <%= image_tag @comic.images[index * 2], class: "d-block w-40 right-image" %>
              </div>
            </div>
          <% else %>
            <div class="carousel-item">
            <div class="spread-image">
              <%= image_tag @comic.images[index * 2 + 1], class: "d-block w-40 left-image" %>
              <%= image_tag @comic.images[index * 2], class: "d-block w-40 right-image" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% (@comic.images.size().to_f / 2).round.times do |index| %>
          <% if (@comic.images.size().to_f / 2).round == 1 %>
            <div class="carousel-item active">
              <div class="spread-image">
              <img src="black.jpeg" class="d-block w-40 left-image">
              <%= image_tag @comic.images[index * 2], class: "d-block w-40 right-image" %>
              </div>
            </div>
          <% elsif ((@comic.images.size().to_f / 2).round - 1) == index %>
            <div class="carousel-item">
              <div class="spread-image">
              <img src="black.jpeg" class="d-block w-40 left-image">
              <%= image_tag @comic.images[index * 2], class: "d-block w-40 right-image" %>
              </div>
            </div>
          <% elsif index == 0 %>
            <div class="carousel-item active">
              <div class="spread-image">
              <%= image_tag @comic.images[index * 2 + 1], class: "d-block w-40 left-image" %>
              <%= image_tag @comic.images[index * 2], class: "d-block w-40 right-image" %>
              </div>
            </div>
          <% else %>
            <div class="carousel-item">
              <div class="spread-image">
              <%= image_tag @comic.images[index * 2 + 1], class: "d-block w-40 left-image" %>
              <%= image_tag @comic.images[index * 2], class: "d-block w-40 right-image" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">前へ</span>
    </button>
    <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">次へ</span>
    </button>
  </div>
</div>

<div class="comic-show-mobile">
  <% @comic.images.each do |image| %>
    <div class="spread-image">
      <%= image_tag image, class: "image" %>
    </div>
  <% end %>
</div>