<div class="comic-show-desktop">
  <div id="carouselExampleControls" class="carousel slide" data-bs-wrap="false">
    <div class="carousel-inner">
      <% if (@comic.images.size().to_f % 2) == 0 %>
        <% ((@comic.images.size().to_f / 2).round - 1).downto(0) do |index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
              <div class="d-flex justify-content-center bg-dark">
                <div class="col-6 left-wrapper">
                  <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                </div>
                <div class="col-6">
                  <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="carousel-item">
              <div class="d-flex justify-content-center bg-dark">
                <div class="col-6 left-wrapper">
                  <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                </div>
                <div class="col-6">
                  <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% ((@comic.images.size().to_f / 2).round - 1).downto(0) do |index| %>
          <% if ((@comic.images.size().to_f / 2).round) == 1 %>
            <div class="carousel-item active">
              <div class="d-flex justify-content-center bg-dark">
                <div class="col-6 left-wrapper">
                </div>
                <div class="col-6">
                  <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                </div>
              </div>
            </div>
          <% elsif ((@comic.images.size().to_f / 2).round - 1) == index %>
            <div class="carousel-item">
              <div class="d-flex justify-content-center bg-dark">
                <div class="col-6 left-wrapper">
                </div>
                <div class="col-6">
                  <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image"  %>
                </div>
              </div>
            </div>
          <% elsif index == 0 %>
            <div class="carousel-item active">
              <div class="d-flex justify-content-center bg-dark">
                <div class="col-6 left-wrapper">
                  <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                </div>
                <div class="col-6">
                  <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="carousel-item">
              <div class="d-flex justify-content-center bg-dark">
                <div class="col-6 left-wrapper">
                  <%= image_tag @comic.images[index * 2 + 1], class: "left image", id: "comic-image" %>
                </div>
                <div class="col-6">
                  <%= image_tag @comic.images[index * 2], class: "image", id: "comic-image"  %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">前へ</span>
    </button>
    <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">次へ</span>
    </button>
  </div>
</div>


<div class="comic-show-mobile">
  <div id="carouselExampleControls-mobile" class="carousel slide" data-bs-wrap="false">
    <div class="carousel-inner">
      <% (@comic.images.size() - 1).downto(0) do |index| %>
        <% if index == 0 %>
          <div class="carousel-item active">
            <div class="d-flex justify-content-center bg-dark">
              <%= image_tag @comic.images[index], class: "mobile-image", id: "mobile-image" %>
            </div>
          </div>
        <% else %>
          <div class="carousel-item">
            <div class="d-flex justify-content-center bg-dark">
              <%= image_tag @comic.images[index], class: "mobile-image", id: "mobile-image" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls-mobile" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">前へ</span>
    </button>
    <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls-mobile" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">次へ</span>
    </button>
  </div>
</div>

<%# <script>
// なぜか実行されない事件
  // カウントダウンを開始する関数
  function startCountdown() {
    var countdownValue = 5;
    console.log("cas")

    var countdownInterval = setInterval(function() {
      countdownValue--;
      

      if (countdownValue <= 0) {
        clearInterval(countdownInterval);

        var csrfToken = "your_csrf_token_here"; // CSRFトークンを適切な値で置き換える
        var comicData = {
          comic_id: @comic.id  // @comic.idの値を含む適切なキーを指定
        };

        console.log("dcac")

        fetch('/read_count', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          },
          body: JSON.stringify(comicData)
        })
        .then(response => response.json())
        .then(data => {
          console.log('リクエスト完了');
        });
      }
    }, 1000); // 1000ミリ秒 = 1秒
  }

  // ページがロードされた時にカウントダウンを開始
  document.addEventListener("DOMContentLoaded", function() {
    startCountdown();
  });
</script> %>
